@font-face {
    font-family: main;
    src: url(fonts/Deacon-Black.woff2);
}

@font-face {
    font-family:secondary;
    src: url(fonts/Graphik-Regular.woff2);
}

@font-face {
    font-family:Poppins;
    src: url(fonts/Poppins.ttf);
}




:root{
    --page1Background: #122315;
    --textColor:#fff;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 45vh;
    background-position-x: center;
background-image: url(https://assets-global.website-files.com/635273ea37c256ef2835d522/654a36b6f78e92b5209148af_Kikin_Illustrations_Scene_01_RGB%202.svg);

background-color: var(--page1Background);

}

.navbar{
    display: flex;
    gap: 20vw;
    position: fixed;
    z-index: 3;
    background-color: #122315;
    height: 15vh;
    width: 100%;
}

.left-nav img{
    height: 5.5vh;
    margin-top: 5vh;
    margin-left: 5vw;
}

.center-nav{
    margin-top: 7vh;
    margin-left: 2vw;
}

.center-nav a{
    text-decoration: none;
    font-family:poppins;
    text-transform: uppercase;
    font-size: 1.2vw;
    color:var(--textColor);
    font-weight:550;
    margin-left: 2vw;   
}

.center-nav a:hover{
    color: #e1dcdc;
}

.right-nav{
margin-top: 3vh;
}

.nav-btn1{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 0.8vw 1.5vw;
    text-align: center;
    font-weight: 550;
    border-radius: 10px;
    background-color: transparent;
    color: var(--textColor);
    border: 0.2px solid #ffffff4d;
    font-family: poppins;
    cursor: pointer;
    
}

.nav-btn1:hover{
    background-color:#203d26 ;
}

.nav-btn2{
    font-size: 1.2vw;
    text-transform: uppercase;
    padding: 0.7vw 1vw;
    padding-top: 1vw;
    border-radius: 10px;
    background-color: #55DD4A;
    color: #000;
    font-weight: 550;
    border: none;
 font-family: poppins;   
 margin-left: 1vw;
    text-align: center;
    cursor: pointer;
}

.nav-btn2:hover{
    background-color:#76e26f;
}

.page1-text{
    position: absolute;
    z-index: 3;
    margin-top: 12vh;
    
}

.page1-text h1{
font-size: 10vw;
line-height: 18vh;
font-family: main;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 8vh;

letter-spacing: -4px;
}

.page1-text h1 span{
    color:#55DD4A;
}

.page1-text p{
    margin-left: 30vw;
    margin-top: 7vh;
    text-wrap:wrap;
 color: #fff;   
 font-family:secondary;
 margin-right: 30vw;
 line-height: 4vh;
 font-weight: 550;
}

.page1-btn button{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1vw 1.7vw;
    border: none;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 40vw;
    margin-top: 4vh;
}

/* page1 end */

/* page 2 start  */

#page2{
    height: 150vh;
    width: 100%;
    background-color: #F3EDE4;
}


.page2-text h2{
    font-size: 8vw;
    font-family: main;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    padding-top: 30vh;
}

.page2-text p{
    text-align: center;
    text-wrap: wrap;
    font-family: poppins;
    font-weight: 100;
    margin-left: 25vw;
    margin-right: 30vw;
    margin-top: 5vh;
}


.page2-btn button{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1.2vw 1.7vw;
    border: none;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 40vw;
    margin-top: 7vh;
}

.page2-text img{
    height: 30vh;
    opacity: 1;
}

.page2-text img:nth-child(1){
    margin-top: 27vh;
    height: 30vh;
}


.page2-text img:nth-child(2){
    margin-left: 85vw;
    height: 28vh;
    margin-top: -36vh;
}


#page2 img{
    position: absolute;
}

.page2-images img{
    height: 20vh;
}

.page2-images img:nth-child(1){
    height: 28vh;
    margin-top: -80vh;
    margin-left: 83vw;
}

.page2-images img:nth-child(3){
    height: 28vh;
    margin-left: 75vw;
}

/* end page2 */

/* start page3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #F3EDE4;
    padding: 0 3vw;
    overflow-x: hidden;
    
}
    
.page3-part1{
    display: flex;
    gap: 15vw;
    margin-top: vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    
}

.page3-part1 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-left: 3vw;
    margin-top: 12vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part1 img{
    height: 65vh;
    border-radius: 10px;
}

.page3-part1-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -15vh;
    
}

/* ++++++ */

.counting2{
    padding: 0.8vw 1vw;
    font-family:poppins;
    font-weight: 600;
    border-radius: 50%;
    background-color: #55DD4A;
    display: inline;
    margin-left: 3vw;
    margin-top: 20vh;
}

.page3-part2{
    display: flex;
    gap: 15vw;
    margin-top: 10vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    
}

.page3-part2 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-left: 3vw;
    margin-top: 12vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part2 img{
    height: 65vh;
    border-radius: 10px;
}

.page3-part2-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -15vh;
    
}

/* ++++ */


.counting3{
    padding: 0.8vw 1vw;
    font-family:poppins;
    font-weight: 600;
    border-radius: 50%;
    background-color: #55DD4A;
    display: inline;
    margin-left: 3vw;
    
}

.page3-part3{
    display: flex;
    gap: 15vw;
    margin-top: -5vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    
}

.page3-part3 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-left: 3vw;
    margin-top: 17vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part3 img{
    height: 65vh;
    border-radius: 10px;
}

.page3-part3-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -15vh;
    
}







/* end page3 */