@font-face {
    font-family: main;
    src: url(fonts/Deacon-Black.woff2);
}

@font-face {
    font-family:secondary;
    src: url(fonts/Graphik-Regular.woff2);
}

@font-face {
    font-family:Poppins;
    src: url(fonts/Poppins.ttf);
}

:root{
    --page1Background: #122315;
    --textColor:#fff;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F3EDE4;
}

#page1{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 45vh;
    background-position-x: center;
background-image: url(https://assets-global.website-files.com/635273ea37c256ef2835d522/654a36b6f78e92b5209148af_Kikin_Illustrations_Scene_01_RGB%202.svg);

background-color: var(--page1Background);

}

.navbar{
    display: flex;
    gap: 20vw;
    position: fixed;
    z-index: 10;
    background-color: #122315;
    height: 15vh;
    width: 100%;
}

.left-nav img{
    height: 5.5vh;
    margin-top: 5vh;
    margin-left: 5vw;
}

.center-nav{
    margin-top: 7vh;
    margin-left: 2vw;
}

.center-nav a{
    text-decoration: none;
    font-family:poppins;
    text-transform: uppercase;
    font-size: 1.2vw;
    color:var(--textColor);
    font-weight:550;
    margin-left: 2vw;   
}

.center-nav a:hover{
    color: #e1dcdc;
}

.right-nav{
margin-top: 3vh;
}

.nav-btn1{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 0.8vw 1.5vw;
    text-align: center;
    font-weight: 550;
    border-radius: 10px;
    background-color: transparent;
    color: var(--textColor);
    border: 0.2px solid #ffffff4d;
    font-family: poppins;
    cursor: pointer;
    
}

.nav-btn1:hover{
    background-color:#203d26 ;
}

.nav-btn2{
    font-size: 1.2vw;
    text-transform: uppercase;
    padding: 0.7vw 1vw;
    padding-top: 1vw;
    border-radius: 10px;
    background-color: #55DD4A;
    color: #000;
    font-weight: 550;
    border: none;
 font-family: poppins;   
 margin-left: 1vw;
    text-align: center;
    cursor: pointer;
}

.nav-btn2:hover{
    background-color:#76e26f;
}

.page1-text{
    position: absolute;
    z-index: 3;
    margin-top: 12vh;
    
}

.page1-text h1{
font-size: 10vw;
line-height: 18vh;
font-family: main;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 8vh;

letter-spacing: -4px;
}

.page1-text h1 span{
    color:#55DD4A;
}

.page1-text p{
    margin-left: 30vw;
    margin-top: 7vh;
    text-wrap:wrap;
 color: #fff;   
 font-family:secondary;
 margin-right: 30vw;
 line-height: 4vh;
 font-weight: 550;
}

.page1-btn button{
    font-size: 1.5vw;
    text-transform: uppercase;
    padding: 1.3vw 2vw;
    border: none;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 41vw;
    margin-top: 4vh;
}

/* page1 end */

/* page 2 start  */

#page2{
    height: 150vh;
    width: 100%;
    background-color: #F3EDE4;
}


.page2-text h2{
    font-size: 7.5vw;
    font-family: main;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    padding-top: 30vh;
    text-wrap: wrap;
}

.page2-text p{
    text-align: center;
    text-wrap: wrap;
    font-family: poppins;
    font-weight: 100;
    margin-left: 25vw;
    margin-right: 30vw;
    margin-top: 5vh;
}


.page2-btn button{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1.2vw 1.7vw;
    border: none;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 40vw;
    margin-top: 7vh;
}

.page2-text img{
    height: 30vh;
    
}

.page2-text img:nth-child(1){
    margin-top: 27vh;
    height: 30vh;
}


.page2-text img:nth-child(2){
    margin-left: 85vw;
    height: 28vh;
    margin-top: -36vh;
}


#page2 img{
    position: absolute;
}

.page2-images img{
    height: 20vh;
}

.page2-images img:nth-child(1){
    height: 28vh;
    margin-top: -80vh;
    margin-left: 83vw;
}

.page2-images img:nth-child(3){
    height: 28vh;
    margin-left: 75vw;
}

/* end page2 */

/* start page3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #F3EDE4;
    padding: 0 3vw;
    overflow: hidden;
    
}
    
.page3-part1{
    display: flex;
    gap: 2vw;
    overflow: hidden;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    
}

.page3-part1 .counting1{
    background-color: #55DD4A;
    padding: 0.7vw 1.1vw;
    text-align: center;
    height: 5%;
    font-family: poppins;
    font-size: 1.5vw;
    border-radius: 50%;
    font-weight: bold;
    color: #1c1c1c;
}

.page3-part1 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-top: 12vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part1 img{
    height: 65vh;
    border-radius: 10px;
    margin-left: 10vw;
}

.page3-part1-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -15vh;
    
}

/* ++++++ */

.page3-part2{
    display: flex;
    gap: 2vw;
    margin-top: 10vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    overflow: hidden;
    
}


.page3-part2 .counting2{
    background-color: #55DD4A;
    padding: 0.7vw 1.1vw;
    text-align: center;
    height: 5%;
    font-family: poppins;
    font-size: 1.5vw;
    border-radius: 50%;
    font-weight: bold;
    color: #1c1c1c;
}

.page3-part2 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-top: 12vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part2 img{
    height: 65vh;
    border-radius: 10px;
    margin-right: 5vw;
}

.page3-part2-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -15vh;
    
}

/* ++++ */


.page3-part3{
    display: flex;
    gap: 2vw;
    margin-top:13vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 20vh;
    overflow-y: hidden;
    
    
}


.page3-part3 .counting3{
    background-color: #55DD4A;
    padding: 0.7vw 1.1vw;
    text-align: center;
    height: 5%;
    font-family: poppins;
    font-size: 1.5vw;
    border-radius: 50%;
    font-weight: bold;
    color: #1c1c1c;
}

.page3-part3 h3{
    font-size: 5vw;
    color: #122315;
    font-family: main;
    text-transform: uppercase;
    margin-left: 3vw;
    margin-top: 17vh;
    line-height: 12vh;
    font-weight: 600;
    text-wrap: nowrap;
}

.page3-part3 img{
    height: 65vh;
    border-radius: 10px;
    margin-left: 8vw;
}

.page3-part3-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 50vw;
    margin-top: -25vh;
    
}

/* end page3 */

/* start page4 */

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #122315;
    display: flex;
    align-items: center;
gap: 8vw;
    margin-top: 20vh;
    padding-bottom: 10vh;
}

.page4-left h3{
    font-size: 7vw;
    line-height: 70px;
    font-family: main;
    color: #fff;
    margin-top: 25vh;
    margin-left: 3vw;
}

.page4-left img{
    height: 20vh;
margin-top: 8vh;    
margin-left: 2vw;
}

.page4-left p{
    font-family: poppins;
    color: #fff;
    margin-left: 3vw;
    margin-right: 3vw;
    text-wrap: wrap;
    margin-top: 10vh;
}


.page4-left button{
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1.2vw 1.7vw;
    border: none;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 4vw;
    margin-top: 7vh;
}



.page4-right{
    border-left: 1px solid #646262;
    border-top: 1px solid #646262;
    border-bottom: 1px solid #646262;
    padding: 3vw 5vw;
    border-radius: 10px;
    color:#fff;
    font-family: poppins;
    font-weight: 100;
    position: relative;
    margin-right: 8vw;
    
}

.page4-right-1 span{
font-family: poppins;
stroke: none;

}

.page4-right-1 i{
    margin-right: 0.5vw;
}

.page4-right-1 span:nth-child(1){
    font-size: 1.5vw;    
    margin-left: 0vw;
    margin-right: 2vw;
}

.page4-right-1 span:nth-child(2){
    margin-right: 3vw;

}

.page4-right-1 span:nth-child(2){
    font-size: 1.5vw;
    
}

/* ++ */

.page4-right-2{
    margin-top: 1.5vh;
}

.page4-right-2 span{
    font-family: poppins;
    stroke: none;
    
    }
    
    .page4-right-2 i{
        margin-right: 0.5vw;
    }
    
    .page4-right-2 span:nth-child(1){
        font-size: 1.5vw;    
        margin-left: 0vw;
        margin-right: 2vw;
    }
    
    .page4-right-2 span:nth-child(2){
        margin-right: 3vw;
    
    }
    
    .page4-right-2 span:nth-child(2){
        font-size: 1.5vw;
        
    }
    

/* ++ */

/*  */

.page4-right-3{
    margin-top: 1.5vh;
}

.page4-right-3 span{
    font-family: poppins;
    stroke: none;
    
    }
    
    .page4-right-3 i{
        margin-right: 0.5vw;
    }
    
    .page4-right-3 span:nth-child(1){
        font-size: 1.5vw;    
        margin-left: 0vw;
        margin-right: 2vw;
    }
    
    .page4-right-3 span:nth-child(2){
        margin-right: 3vw;
    
    }
    
    .page4-right-3 span:nth-child(2){
        font-size: 1.5vw;
        
    }
    

/*  */

.page4-right-4 p{
    margin-top: 7vh;
}

.page4-right-4 img{
    height: 17vh;
    padding: 1vw 1vw;
    border: 1px solid #646262;
    border-radius: 10px;
    margin-left: 1vw;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.page4-right-4{
    border-bottom: 1px solid #646262;
    width: 100%;
}
.page4-right-5{
    display: flex;
    gap: 20vw;
    margin-left: 3vw;
    margin-top: 7vh;
    margin-bottom: 10vh;
}
.page5-left{
    display: flex;
}

.right-5-left p:nth-child(1){
    color: #55DD4A;
    padding: 0vw 0.5vw;
    background-color:#203D25;
    border-radius: 10px;
    font-size: 1.1vw;
    margin-bottom: 17vh;
    font-weight: 600;
}

.page5-right{
    display: flex;
    margin-left: 3vw;
}

.right-5-right p:nth-child(1){
    color: #55DD4A;
    font-family: main;
    font-size: 6vw;
    margin-top: -1vh;
    margin-bottom: 5vh;
    margin-left: -12vw;
}

.right-5-right p:nth-child(2){
margin-left: -6vw;
}

.right-5-right p{
margin-bottom: 0.5vw;
}

/* end page4 */

/* start page5 */

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #73D3EB;
    padding-bottom: 10vh;
}

.page5-image{
    border-bottom: 1px solid #000;
}

.page5-image img{
    height: 100vh;
    width: 93vw;
    margin-top: 10vh;
    margin-left: 2vw;
    padding-bottom: 5vh;
}

.page5-cards{
    display: flex;
}

.card1{
    height: 60vh;
    width: 35%;
    border: 1px solid #5f5f5f;
}

.card1 i{
    font-size: 1.7vw;
    color: #fff;
    padding: 1vw 1vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card1 p{
    font-family: main;
    text-align: center;
    margin-top: 20vh;
    font-size: 2.5vw;
    color: #122315;
    line-height: 28px;
}


.card2{
    height: 60vh;
    width: 35%;
    border: 1px solid #5f5f5f;
}


.card2 i{
    font-size: 1.7vw;
    color: #fff;
    padding: 1vw 1vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card2 p{
    font-family: main;
    text-align: center;
    margin-top: 20vh;
    font-size: 2.5vw;
    color: #122315;
    line-height: 28px;
}



.card3{
    height: 60vh;
    width: 35%;
    border: 1px solid #5f5f5f;
}


.card3 i{
    font-size: 1.7vw;
    color: #fff;
    padding: 1vw 1vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card3 p{
    font-family: main;
    text-align: center;
    margin-top: 20vh;
    font-size: 2.5vw;
    color: #122315;
    line-height: 28px;
}
.page5-last{
    display: flex;
    justify-content: space-around;
}

.page5-last img{
    height: 5vh;
    margin-top: 10vh;
}



/* end page5 */


/* start page6 */
#page6{
    height: 150vh;
    width: 100%;
    background-color:#122315;
    
}

#page6 h2{
    font-size: 5vw;
    font-family: main;
    line-height: 50px;
    position: relative;
    top: 22vh;
    margin-left: 22vw;
    color: #fff;
}

.image-section1 img{
    height: 30vh;
}


.image-section1 img:nth-child(1){
    margin-bottom: -30vh;
}

.image-section1 img:nth-child(2){
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 15vh;
}


.image-section1 img:nth-child(3){
    margin-left: 10vw;
    margin-top: 15vh;
}


.image-section1 img:nth-child(4){
    margin-left: 12vw;
    margin-top: 15vh;
}

.image-section2 img{
    height: 28vh;
    margin-top: 27vh;
    margin-left: 10vw;
}

.image-section2 img:nth-child(1){
margin-left: 1vw;
margin-top: 0vh;
margin-bottom: 20vh;
}


/* end page6 */

/* start page7 */
#page7{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    gap: 5vw;
}

.page7-left img{
    height: 120vh;
    margin-top: 20vh;
    border-radius: 5px;
}

.page7-right{
    margin-top: 37vh;
}

.page7-right h3{
    font-size: 7vw;
    font-family: main;
    line-height: 70px;
    color: #122315;
letter-spacing: -2px;

}

.page7-right p{
    font-family: poppins;
    margin-top: 10vh;
    font-size: 1.6vw;
    margin-right: 3vw;
    line-height: 25px;
    color: #122315de;
    font-weight: 100;
}

.page7-right img{
    margin-top: 17vh;
}

.page7-right p:nth-child(4){
    font-size: 1.3vw;
    margin-top: 2vh;
    color: #000000d7;
}

.page7-btn{
    margin-left: 35vw;
    
}


.page7-btn button{
    font-size: 2vw;
    font-weight: 600;
    padding: 1.3vw 1.5vw;
    border-radius: 50%;
    border: 1px solid #55DD4A;
    margin-top: -5vh;
    cursor: pointer;
    transition: all linear 0.3s;
}

.page7-btn button:hover{
    background-color: #55DD4A;
    color: #fff;
    
}

.on-topImg img{
    height: 30vh;
    position: absolute;
    z-index: 1;
    margin-top: -13vh;
    margin-left: 7vw;
}

.on-topImg img:nth-child(1){
    height: 30vh;
    z-index: 3;
}


.on-topImg img:nth-child(2){
    height: 35vh;
    position: absolute;
    margin-left: 19vw;
    margin-top: -12vh;
}

#page8{
    height: 130vh;
    width: 100%;
    background-color: #122315;
    background-image: url(https://assets-global.website-files.com/635273ea37c256ef2835d522/65363617f2f8b421dacfacc5_Illustration.svg);
background-repeat: no-repeat;
background-position-y: 38vh;
background-size: contain;
    margin-top: 80vh;
}

.page8-heading h2{
 position: relative;   
 top: 25vh;
 font-family: main;
 margin-left: 26vw;
    font-size: 7vw;
    line-height: 48px;
    color: #F3EDE4;
    letter-spacing: -2px;
}

.page8-heading h2:nth-child(3){
    color: #FFED52;
    margin-left: 30vw;
}

.page8-heading h2:nth-child(5){
    color: #FFED52;
    margin-left: 36vw;
}

#page8 button{
    margin-top: 33vh;
    margin-left: 40vw;
    padding: 1vw 2vw;
    border-radius: 10px;
    font-size: 1.5vw;
    border:1px solid #ffffff9e;
    background-color:#122315;
    color: #fff;
    font-family: poppins;
    cursor: pointer;
}

#page8 button:hover{
    background-color: #071209e0;
}

.footer{
    background-color: #122315;
    margin-top: 17vh;
    box-shadow: 0 0 1rem 1rem  #122315;
    display: flex;
    gap: 12vw;
    height: 37vh;
}

.footer-left{
    display: flex;
    
}

.footer-left img{
    margin-right: 3vw;
    margin-left: 4vw;
    height: 20vh;
    margin-top: 4vh;
}

.footer-left p{
    color: #fff;
    font-family: poppins;
}


.footer-left p:nth-child(2){
    text-wrap: nowrap;
    font-size: 3vw;
    margin-top: 5vh;
    
}
.footer-left p:nth-child(3){
    margin-top: 13vh;
    margin-left: -18vw;
    font-size: 3vw;
    text-decoration: underline;
}

.footer-center p{
    color: #fff;
    font-family: poppins;
    
    margin-left: 3vw;
    margin-top: 2vh;
}
.footer-right{
    margin-right: 10vw;
    margin-top: 2vh;
 display: flex;   
 flex-direction: column;
 gap: 1vw;
}
.footer-right a{
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    text-wrap: nowrap;
}



/* start Mobile Responsive Part  */

@media (max-width:420px) {

    #page1{
        width: 100%;
        overflow: hidden;
    }


.center-nav{
    display: none;
}

.right-nav{
    display: none;
}

.left-nav{
    margin-left: 30vw;
}

.navbar{
    border-bottom: 1px solid #5f5f5f;
    position: fixed;
    z-index: 10;
}

.page1-text h1{
    font-size: 14.5vw;
    line-height: 8vh;
    font-family: main;
    text-transform: uppercase;
    margin-left: 4vw;
    letter-spacing: 1px;
    margin-top: 5vh;
    
}

.page1-text p{
    margin-left: 8vw;
    margin-top: 4vh;
    text-wrap: wrap;
    color: #fff;
    font-family: secondary;
    margin-right: 5vw;
    line-height: 4vh;   
}

.page1-text button{
    font-size: 5vw;
    padding: 3vw 4vw;
    border: none;
    margin-left: 29vw;
    margin-top: 4vh;
}

/* page2 */

 #page2{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.page2-text img{
    
    height: 14vh;
    margin-left: -11vw;
    margin-top: 22vh;
    
}

.page2-text img:nth-child(1){
    height: 15vh;
    margin-top: 5vh;
    margin-left: -8vw;
}


.page2-text img:nth-child(2){
    height: 15vh;
    margin-top: -63vh;
}

.page2-images img:nth-child(3) {
    height: 15vh;
    margin-top: 0vh;
    margin-left: 78vw;
}

.page2-images img{
    height: 20vh;
}

.page2-images img:nth-child(1) {
    margin-top: 15vh;
    margin-left: 33vw;
}

.page2-text h2{
    font-size: 12vw;
    font-family: main;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    padding-top: 20vh;
}

.page2-text p{
    text-align: center;
    text-wrap: wrap;
    font-family: poppins;
    font-weight: 100;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}

.page2-btn button{
    font-size: 5vw;
    padding: 3vw 4vw;
    border: none;
    margin-left: 29vw;
    margin-top: 4vh;
}

/* end page2 */


/* start page3 */

#page3{
    height: 240vh;
    overflow: hidden;
    width: 100%;
    background-color: #F3EDE4;
    padding: 0 3vw;
    overflow: hidden;
    
}
    
.page3-part1{
    display: flex;
    gap: 2vw;
    overflow: hidden;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    flex-direction: column;
    
}

.page3-part1 .counting1{
    background-color: #55DD4A;
    font-size: 7vw;
    width: 14%;
    margin-top: 5vh;
}

.page3-part1 h3{
    font-size: 8vw;
    margin-top: 3vh;
    line-height: 4vh;
    margin-left: 3vw;
}

.page3-part1 img{
    height: 35vh;
    border-radius: 10px;
    margin-left: 3vw;
    margin-top: 13vh;
}

.page3-part1-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 0vw;
    margin-top: -54vh;
    
}

/* ++++++ */

.page3-part2{
    display: flex;
    gap: 2vw;
    overflow: hidden;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 8vh;
    flex-direction: column;    
    
}


.page3-part2 .counting2{
    background-color: #55DD4A;
    font-size: 7vw;
    width: 14%;
    margin-top: 37vh;
}

.page3-part2 h3{
    font-size: 8vw;
    margin-top: 3vh;
    line-height: 4vh;
    margin-left: 3vw;
}

.page3-part2 img{
    height: 35vh;
    border-radius: 10px;
    margin-left: 3vw;
    margin-top: 13vh;
}

.page3-part2-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-right: 0vw;
    margin-top: -54vh;
    
}


/* ++++ */


.page3-part3{
    display: flex;
    gap: 2vw;
    margin-top:13vh;
    border-bottom: 1px solid #8d8181;
    padding-bottom: 20vh;
    overflow-y: hidden;
flex-direction: column;    
    
}


.page3-part3 .counting3{
    background-color: #55DD4A;
    padding: 0.7vw 1.1vw;
    text-align: center;
    font-size: 7vw;
    width: 14%;
    margin-top: 37vh;
}

.page3-part3 h3{
    font-size: 8vw;
    margin-top: 3vh;
    line-height: 4vh;
    margin-left: 3vw;
}

.page3-part3 img{
    height: 35vh;
    border-radius: 10px;
    margin-left: 3vw;
    margin-top: 17vh;
}

.page3-part3-content p{
    font-family: poppins;
    text-wrap: wrap;
    margin-left: 3vw;
    margin-top: -70vh;
    position: absolute;
    margin-right: 0;
}

/* end page3 */


/* start page4 */

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #122315;
    display: flex;
    align-items: center;
gap: 8vw;
    margin-top: 20vh;
    padding-bottom: 10vh;
    flex-direction: column;
    overflow: hidden;
}

.page4-left h3{
    font-size: 12vw;
    line-height: 40px;
    font-family: main;
    color: #fff;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 0vw;
 
}

.page4-left img{
    height: 20vh;
margin-top: 8vh;    
margin-left: 2vw;
display: none;
}

.page4-left p{
    margin-left: 8vw;
    margin-right: 6vw;
    margin-top: 5vh;
}


.page4-left button{
    font-size: 6vw;
    text-transform: uppercase;
    padding: 3vw 5vw;
    background-color: #55DD4A;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 23vw;
    margin-top: 7vh;
}




.page4-right{
    border-top: 1px solid #646262;
    border-bottom: 1px solid #646262;
    padding: 3vw 5vw;
    border-radius: 10px;
    color:#fff;
    font-family: poppins;
    font-weight: 100;
    position: relative;
    margin-right: 8vw;
    margin-left: 4vw;
    
}



.page4-right-1 span{
font-family: poppins;
stroke: none;
font-size: 3vw;

}

.page4-right-1 i{
    margin-right: 0.5vw;
}

.page4-right-1 span:nth-child(1){
    font-size: 3vw;    
    margin-left: 0vw;
    margin-right: 2vw;
}

.page4-right-1 span:nth-child(2){
    margin-right: 3vw;
    font-size: 2vw;    
}


/* ++ */

.page4-right-2{
    margin-top: 3vh;
}

.page4-right-2 span{
    font-family: poppins;
    stroke: none;
    
    }
    
    .page4-right-2 i{
        margin-right: 0.5vw;
    }
    
    .page4-right-2 span:nth-child(1){
        font-size: 3vw;    
        margin-left: 0vw;
        margin-right: 2vw;
    }
    
    .page4-right-2 span:nth-child(2){
        margin-right: 3vw;
    
    }
    
    .page4-right-2 span:nth-child(2){
        font-size: 3vw;
        
    }
    

/* ++ */

/*  */

.page4-right-3{
    margin-top: 3vh;
}

.page4-right-3 span{
    font-family: poppins;
    stroke: none;
    font-size: 3vw;
    
    }
    
    .page4-right-3 i{
        margin-right: 0.5vw;
    }
    
    .page4-right-3 span:nth-child(1){
        font-size: 3vw;    
        margin-left: 0vw;
        margin-right: 2vw;
    }
    
    .page4-right-3 span:nth-child(2){
        margin-right: 3vw;
    
    }
    
    .page4-right-3 span:nth-child(2){
        font-size: 3vw;
        
    }
    

/*  */

.page4-right-4 p{
    margin-top: 7vh;
    font-size: 6vw;
}

.page4-right-4 img{
    height: 17vh;
    padding: 1vw 1vw;
    border: 1px solid #646262;
    border-radius: 10px;
    margin-left: 1vw;
    margin-bottom: 8vh;
    margin-top: 2vh;
    margin-right: 1vw;
}

.page4-right-4{
    border-bottom: 1px solid #646262;
    width: 100%;
}
.page4-right-5{
    display: flex;
    gap: 10vw;
    margin-left: 3vw;
    margin-top: 7vh;
    margin-bottom: 10vh;
}
.page5-left{
    display: flex;
}

.right-5-left p:nth-child(1){
    padding: 2vw 1vw;
    font-size: 3vw;
    margin-bottom: 17vh;
    text-wrap: nowrap;
}

.page5-right{
    display: flex;
    margin-left: 3vw;
}

.right-5-right p:nth-child(1){
    color: #55DD4A;
    font-family: main;
    font-size: 10vw;
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: -12vw;
}

.right-5-right p:nth-child(2){
margin-left: -6vw;
}
/* end page4 */


/* start page5 */

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #73D3EB;
    padding-bottom: 10vh;
    overflow: hidden;
}

.page5-image{
    border-bottom: 1px solid #000;
}

.page5-image img{
    height: 70vh;
    margin-top: 3vh;
    margin-left: 1.5vw;
    
    padding-bottom: 3vh;
}

.page5-cards{
    display: flex;
    flex-direction: column;
}

.card1{
    height: 30vh;
    width: 100%;
    border: 1px solid #5f5f5f;
}

.card1 i{
    font-size: 5vw;
    color: #fff;
    padding: 2vw 2vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card1 p{
    font-family: main;
    text-align: center;
    margin-top: 10vh;
    font-size: 7vw;
    color: #122315;
    line-height: 28px;
}


.card2{
    height: 30vh;
    width: 100%;
    border: 1px solid #5f5f5f;
}


.card2 i{
    font-size: 5vw;
    color: #fff;
    padding: 2vw 2vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card2 p{
    font-family: main;
    text-align: center;
    margin-top: 10vh;
    font-size: 7vw;
    color: #122315;
    line-height: 28px;
}



.card3{
    height: 30vh;
    width: 100%;
    border: 1px solid #5f5f5f;
}


.card3 i{
    font-size: 5vw;
    color: #fff;
    padding: 2vw 2vw;
    background-color: #122315;
    position: relative;
    border-radius: 50%;
    top: 5vh;
    left: 4vw;
}

.card3 p{
    font-family: main;
    text-align: center;
    margin-top: 10vh;
    font-size: 7vw;
    color: #122315;
    line-height: 28px;
}
.page5-last{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.page5-last img{
    height: 3vh;
    margin-top: 6vh;
    margin-right: 5vw;
    margin-left: 5vw;
}
/* end page5 */


/* start page6 */
#page6{
    height: 100vh;
    width: 100%;
    background-color:#122315;
    padding-top: 5vh;
    overflow: hidden;
}

#page6 h2{
    font-size: 8vw;
    font-family: main;
    line-height: 50px;
    position: relative;
    top:5vh;
    margin-left: 7vw;
    
    color: #fff;
}

.image-section1 img{
    height: 12vh;
}


.image-section1 img:nth-child(1){
    margin-top: 0vh;
    margin-bottom: 6vh;
    height: 12vh;
}

.image-section1 img:nth-child(2){
    
    margin-left: 40vw;
    margin-top: 5vh;
}


.image-section1 img:nth-child(3){
    margin-left: 6vw;
    margin-top: -33vh;
}


.image-section1 img:nth-child(4){
    margin-left: 12vw;
    display: none;
}

.image-section2 img{
    height: 12vh;
    margin-top: 0vh;
    margin-bottom: 20vh;
    margin-left: 6vw;
}

.image-section2 img:nth-child(1){
margin-left: 5vw;
margin-top: 10vh;
margin-bottom: 20vh;
}

.image-section2 img:nth-child(4){
    display: none;
    }

/* end page6 */

/* start page7 */
#page7{
    height: 80vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    gap: 5vw;
    flex-direction: column;
    overflow: hidden;
    
    
}

.page7-left img{
    height: 100vh;
    margin-top: 40vh;
    border-radius: 5px;
    margin-left: 3vw;
    opacity: 0;
}

.page7-right{
    margin-top: -140vh;
}

.page7-right h3{
    font-size: 12vw;
    font-family: main;
    line-height: 50px;
    color: #122315;
letter-spacing: 0px;
text-align: center;


}

.page7-right p{
    font-family: poppins;
    margin-top:2vh;
    font-size: 4vw;
    margin-left: 5vw;
    margin-right: 3vw;
    line-height: 25px;
    color: #122315de;
    font-weight: 100;
    text-wrap: wrap;
}

.page7-right img{
    margin-top: 2vh;
    margin-left: 26vw;
    
}

.page7-right p:nth-child(4){
    font-size:4vw;
    margin-top: 1vh;
    margin-left: 11vw;
    color: #000000d7;
    
}

.page7-btn{
    margin-left: 30vw;
    margin-top: 7vh;
}


.page7-btn button{
    font-size: 10vw;
    font-weight: 600;
    padding: 2vw 3vw;
    border-radius: 50%;
    border: 1px solid #55DD4A;
    margin-top: -5vh;
    cursor: pointer;
    transition: all linear 0.3s;
}

.page7-btn button:hover{
    background-color: #55DD4A;
    color: #fff;
    
}

.on-topImg img{
    height: 30vh;
    position: absolute;
    z-index: 1;
    margin-top: -13vh;
    margin-left: 7vw;
}

.on-topImg img:nth-child(1){
    height: 30vh;
    z-index: 3;
}


.on-topImg img:nth-child(2){
    height: 35vh;
    position: absolute;
    margin-left: 19vw;
    margin-top: -12vh;
}

#page8{
    height: 120vh;
    width: 100%;
    background-color: #122315;
    background-image: url(https://assets-global.website-files.com/635273ea37c256ef2835d522/65363617f2f8b421dacfacc5_Illustration.svg);
background-repeat: no-repeat;
background-position-y: 20vh;
background-position-x: -350vw;
background-size: cover;
    overflow: hidden;
    position: absolute;
    margin-top: -5vh;
}

.page8-heading h2{
 position: relative;   
 top: 8vh;
 font-family: main;
 margin-left: 10vw;
    font-size: 13vw;
    line-height: 40px;
    color: #F3EDE4;
    letter-spacing: -2px;
    
}

.page8-heading h2:nth-child(3){
    color: #FFED52;
    margin-left: 10vw;
}

.page8-heading h2:nth-child(5){
    color: #FFED52;
    margin-left: 10vw;
}

#page8 button{
    margin-top: 13vh;
    margin-left: 25vw;
    padding: 2vw 3vw;
    border-radius: 10px;
    font-size: 5vw;
    border:1px solid #ffffff9e;
    background-color:#122315;
    color: #fff;
    font-family: poppins;
    cursor: pointer;
}

#page8 button:hover{
    background-color: #071209e0;
}

.footer{
    background-color: #122315;
    margin-top: 45vh;
    box-shadow: 0 0 1rem 1rem  #122315;
    display: flex;
    gap: 12vw;
    
}

.footer-left{
    display: flex;
    
    
}

.footer-left img{
    margin-right: 3vw;
    margin-left: 4vw;
    height: 10vh;
    margin-top: 4vh;
}

.footer-left p{
    color: #fff;
    font-family: poppins;
}


.footer-left p:nth-child(2){
    text-wrap: nowrap;
    font-size: 7vw;
    margin-top: 5vh;
    margin-left: 3vw;
    
}
.footer-left p:nth-child(3){
    margin-top: 10vh;
    margin-left: -42vw;
    font-size: 7vw;
    text-decoration: underline;
}

.footer-center p{
    color: #fff;
    font-family: poppins;
    text-wrap: nowrap;
    margin-left: -60vw;
    margin-top: 20vh;
}
.footer-right{
    margin-right: 10vw;
    display: none;
 display: flex;   
 gap: 1vw;
}
.footer-right a{
    
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    text-wrap: nowrap;
font-size: 1vw;    
 
}


/* end page 8 */

/* End Mobile Responsive Part  */




} 

